body {
  margin: 0;
  padding: 0;
  background-color: rgba(240, 85, 100, 0.6);
  font-family: 'Roboto Mono', monospace;
  color: #1e1e1f;
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}


